@import "tailwindcss";

:root {
	--bg-color: #f9faf9;
	--text-color: #09090b;
	--important-text: #82c0981a;
	--description-text: #71717a;
	--green-color: #16a34a;
	--red-color: #dc2626;
}

.dark {
	--bg-color: #09090b;
	--text-color: #ffffff;
	--description-text: #ffffff;
}

/* whole project styling */

body {
	background-color: var(--bg-color);
	color: var(--text-color);

	transition: background-color 0.3s, color 0.3s;
}
