@import "tailwindcss";

@theme {
	--breakpoint-mobile: 375px;
	--breakpoint-tablet: 744px;
	--breakpoint-desktop: 1280px;
}
:root {
	--bg-color: #f9faf9;
	--text-color: #09090b;
	--important-text: #82c0981a;
	--description-text: #71717a;
	--green-color: #16a34a;
	--red-color: #dc2626;
}

.dark {
	--bg-color: #09090b;
	--text-color: #ffffff;
	--description-text: #ffffff;
}

/* Whole project */

body {
	background: var(--bg-color);
	color: var(--text-color);
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* FAQ */

details {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 0.45rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

summary {
	list-style: none;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.75rem 0.7rem;

	cursor: pointer;
	user-select: none;

	transition: background-color 0.2s ease;
}

summary:hover {
	background: rgba(0, 0, 0, 0.02);
}

summary::-webkit-details-marker {
	display: none;
}

summary::marker {
	content: "";
}

details[open] summary {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.arrow {
	transition: transform 0.3s ease;
}

details[open] .arrow {
	transform: rotate(180deg);
}

.content {
	padding: 1rem 1.25rem;
}

.content p {
	margin: 0;
	line-height: 1.8;
}
