@import "tailwindcss";

:root {
	--bg-color: #ffffff;
	--text-color: #000000;
	--important-test: #82c0981a;
}

.dark {
	--bg-color: #09090b;
	--text-color: #ffffff;
}

/* whole project styling */

body {
	background-color: var(--bg-color);
	color: var(--text-color);

	transition: background-color 0.3s, color 0.3s;
}
